@model OrganizationViewModel
@{
    ViewData["TitleMD"] = Model.fLang.title;
    Layout = "~/Areas/MasterData/Views/Shared/_MasterDataForm.cshtml";
}

@section StyleMD{
    <style>
        .redStar {
            color: red;
        }
    </style>
}

<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title" style="color: black">@Model.fLang.title</h5>
        <hr>
        <div class="container">
            <form asp-area="MasterData" asp-controller="Organization" asp-action="Index" method="post" data-parsley-validate="parsley">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group row">
                    <input type="hidden" name="organizationId" id="organizationId" value="0" />

                    <label for="organizationType" class="col-sm-3 col-form-label">@Model.fLang.organizationType <span style="float:right;" class="redStar">*</span></label>
                    <div class="col-sm-9">
                        <select class="form-control" id="organizationType" name="organizationType" data-parsley-required="true">
                            <option value="">Select Organization Type</option>
                            <option value="University">University</option>
                            <option value="Board">Board</option>
                            <option value="GovtOrg">Govt. Organization</option>
                            <option value="PrivateOrg">Private Organization</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="organizationName" class="col-sm-3 col-form-label">@Model.fLang.organizationName <span style="float:right;" class="redStar">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" data-parsley-required="true" data-parsley-trigger="keyup" class="form-control" name="organizationName" id="organizationName">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="organizationNameBn" class="col-sm-3 col-form-label">@Model.fLang.organizationNameBn</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="organizationNameBn" id="organizationNameBn">
                    </div>
                </div>

                <hr />
                <button type="submit" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>

                <button type="button" onclick="Refresh()" class="btn btn-danger btn-lg" style="float:right; margin-top:5px;margin-right:5px;"><i class="fas fa-sync"></i></button>
            </form>
        </div>
    </div>
</div>

<br />
<hr />
<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">@Model.fLang.title</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered table-responsive-lg table-responsive-sm" id="organizationTable">
                    <thead>
                        <tr>
                            <th>@Model.fLang.organizationType</th>
                            <th>@Model.fLang.organizationName</th>
                            <th>@Model.fLang.organizationNameBn</th>
                            <th>@Model.fLang.action</th>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.organizations)
                        {
                            <tr>
                                <td>@data.organizationType</td>
                                <td>@data.organizationName</td>
                                <td>@data.organizationNameBn</td>
                                <td>
                                    <a class="btn btn-info" onclick="Edit(@data.Id, '@data.organizationType', '@data.organizationName', '@data.organizationNameBn')" href="#" title='Edit'><i class="fa fa-edit"></i></a>
                                    <button title="Remove" class="btn btn-danger" onclick="Remove(@data.Id)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section ScriptsMD{
    <script>
        function Remove(Id) {
            chk = confirm('Do you want to delete this?');
            if (chk) {
                location.replace("/MasterData/Organization/Delete/" + Id);
            } else {
                return false;
            }
        }

        $(document).ready(function () {
            $('#organization').addClass("active");
            $('#organizationTable').DataTable(); Organization
        });

        function Refresh() {
            location.reload();
        }

        function Edit(Id, organizationType, organizationName, organizationNameBn) {
            $("#organizationId").val(Id);
            $("#organizationType").val(organizationType);
            $("#organizationName").val(organizationName);
            $("#organizationNameBn").val(organizationNameBn);
        }
    </script>
}